<div class="user-info clear-fix">
  <img src="<%= userInfo.picture%>" class="header-img float-left" />
  <h4 class="user-name"><%= userInfo.nickName%></h4>
</div>

<script>
  $(function() {
    // 当前用户 id
    // 关注此人
    // 取消关注
  });
</script>
